# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment files
.env
.env.*

# Node.js / Next.js (frontend)
node_modules/
.next/
out/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build artifacts
build/
dist/
*.sqlite3

# VSCode and IDE config
.vscode/
.idea/
.DS_Store

# Packaging metadata
*.egg-info/
